{% extends "encyclopedia/layout.html" %}


{% block title %}
    Encyclopedia - Create new page
{% endblock %}


{% block body %}
    
    <h1>Create new page</h1>
    
    <!-- if in edit_mode, form action = save edited page; else action = save -->
    <form action="{% url 'save_page' %}" method="POST"> 
        
        {% csrf_token %}
        
      
        <div class="form_group">
            <label class="form_title">Title:</label>
            <input type="text" name="title">
        </div> 

        <div class="form_group">
            <label class="form_title">Entry body content (in Markup language):</label>
            <textarea class="form_body" name="text_body" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-dark">Submit</button>

    </form>
    
{% endblock %}