{% extends "auctions/layout.html" %}

{% block body %}

<div class = "container">
    <strong>Watchlist</strong>

    <div class = "row">

        {% if user.is_authenticated and users_watchlist %}
        
            {% for listing in users_watchlist %}
            
                <div class="card col-sm-3">
               
                    <div class="card-header">
                        <p id="bid">Current bid: <span id="price">{{ listing.bid }}</span></p>
                    </div>
                
                    <img class="card-img-top" src="{{ listing.url }}" alt="Card image">
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.name_of_item}}</h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <a href="{% url 'display_listing' listing.id %}" class="btn btn-primary"> Go to listing </a>
                    </div>
            </div>

        {% endfor %}
    {% endif %}
   
    </div>
</div>

{% endblock %}